body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    box-sizing: border-box;
} 

#grid {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 5px;
    width: 400px;
    height: 400px;
}

.div {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.subdiv {
    flex: 1;
    border: .5px solid black;
    background-color: blanchedalmond;
}

/* .subdiv:hover {
    background-color: brown;
} */
